/* Untuk Tablet */
@media all and (max-width: 1000px) {

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

/*Header*/
  nav {
    display: none;
  }

  .menu-icon {
      display: block !important;
      padding-top: 30px;
  }
	
	
/*Top Wrapper*/
.container{
  margin-left:10px;
  margin-right:10px;
}
.container h1{
 font-size:30px;
}
.container p{
 font-size:25px;
}
.btn {
 margin-left:10px;
}
	
/*Bottom Wrapper*/
.container-bottom {
 text-alignment:center;
 padding:100px 0px 100px 0px;
 margin-left:10px;
}
.message {
 width:50%;
 margin-bottom:10px;
 text-alignment:center;
}
.container-bottom a{
 text-alignment:center;
}
/*Footer*/
  .footer {
    text-align: center;
  }
  .footer-list{
    float : none;
  }
  .footer-menu{
	margin-top: 10px;
	margin-right: 0px;
	float: left;
    width: 33.33%;
  }	  
}
