@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

/* Header */

body {
  position: relative;
  padding-top: 5em;
}

#header {
  background: #EA2027;
  color: #d5d5d5;
  cursor: default;
  height: 5em;
  left: 0;
  line-height: 5em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001;
}

  #header .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
  }

  #header .logo {
    font-family: 'Pacifico', cursive;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #ffffff;
    font-size: 1.75em;
    text-transform: none;
    font-weight: normal;
    padding: 0;
  }

    #header .logo:hover {
      color: #dfe4ea;
    }

  #header a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 2em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .85em;
  }

    #header a:hover {
      color: #dfe4ea;
    }

    #header a:last-child {
      padding-right: 0em;
    }

/* Top Wrapper */
.top-wrapper {
  background-image:url(Cafe_Americana_pancakes.0.png);
  background-size:cover;
  padding-top:150px;
  padding-bottom:150px;
}
.container {
  margin-left:80px;
  margin-right:80px;
  color:#fff;
  text-align:left;
  padding-bottom:20px;
}
.container h1{
  font-size:75px;
  font-family:'Pacifico';
  text-shadow:2px 2px #000;
}
.container p{
  font-size:60px;
  font-family:'Pacifico';
  text-shadow:2px 2px #000;
} 
.btn {
  opacity:0.8;
  padding:12px 24px;
  color:#fff;
  border-radius:5px;
  display:inline-block;
  background-color:#EA2027;
  margin-left:80px;
  font-family:'Pacifico';
  text-decoration:none;
}
.btn:hover {
  opacity:1;
}
.footer {
  background-color: #EA2027;
  color: #fff;
  height: 120px;
  padding: 30px 40px 30px 40px;
}
.footer a{
  text-decoration: none;
  color: #fff;
}
.footer-logo {
  font-family: 'Pacifico';
  font-size: 32px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
.footer-list{
  float:right;
}
.footer-menu{
  margin-top: 20px;
  margin-right: 50px;
  float: right;
}
